@charset "UTF-8";

header {
	width: 100%;
	height: 90px;
	position: relative; /*è¦*/
	top: 0;
	left: 0;
	z-index: 999;
}
.header_lane .header_wrap{
	background-color: #dcf3ff;
	height: 90px;
	position: relative;
}
header.header_lane h1{
	width: 40%;
	min-width: 500px;
	height: 90px;
	padding:53px 0 0 2%;
	font-size:24px;
}
header.header_lane h1 img{
	display: inline-block;
	width: 60px;
	height: auto;
	vertical-align: middle;
}
header.header_lane h1 span{
	display: inline-block;
	margin: 0 0.5% 0 0;
}
header.header_lane h1 span:nth-of-type(1){
	margin-left: 5%;
}
header.header_lane .port_name{
	width: 40%;
	min-width: 500px;
	height: 50px;
	border-radius: 0 0 10px 0;
	font-size:32px; 
	padding: 5px 0 0 2%;
	position: absolute;
	top:0;left:0;
}
header.header_lane .update_time{
	display: inline-block;
	width: 250px;
	position: absolute;
	top:5px;right:150px;
}
header.header_lane .company_logo{
	background-image:url("../img/common/logo_company.svg");
	width: 120px;
	height: 20px;
	background-size: contain;
	position: absolute;
	top:5px;right:10px;
}
header.header_lane .return{
	width: 100px;
	height: 55px;
	position: absolute;
	top:30px;right:230px;
}
header.header_lane .return button{
	display: inline-block;
	width: 100px;
	height: 55px;
	text-align: center;
	background-color: #23b1b2;
	border: none;
	border-radius: 5px;
}
header.header_lane .return button img{
	width: 40%;
	height: auto;
}
header.header_lane .return button:hover{
	opacity: 0.8;
}
header.header_lane .update{
	width: 100px;
	height: 55px;
	position: absolute;
	top:30px;right:120px;
}
header.header_lane .update button{
	display: inline-block;
	width: 100px;
	height: 55px;
	text-align: center;
	background-color: #23b1b2;
	border: none;
	border-radius: 5px;
	vertical-align: bottom;
}
header.header_lane .update button img{
	width: 40%;
	height: auto;
}
header.header_lane .update button span.update_message{
	display: none;
}
header.header_lane .update button:hover{
	opacity: 0.8;
}
header.header_lane .update button:hover > span.update_message.tab{
	display: block;
	background-color: #ff0000;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 0 5px;
	border-radius: 5px;
	margin: 5px auto -5px;
}
header.header_lane .update button:hover > span.update_message.sp{
	display: none;
}
header.header_lane .volume{
	width: 100px;
	height: 55px;
	position: absolute;
	top:30px;right:10px;
}
header.header_lane .volume button{
	display: inline-block;
	width: 100px;
	height: 55px;
	text-align: center;
	background-color: #23b1b2;
	border: none;
	border-radius: 5px;
}
header.header_lane .volume button span{
	display: block;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 5px;
}
header.header_lane .volume .on {
	display: block;
}

header.header_lane .volume .off {
	display: none;
}

header.header_lane .volume.active .on {
	display: none;
}

header.header_lane .volume.active .off {
	display: block;
}
header.header_lane .volume button:hover{
	opacity: 0.8;
}

@media screen and (min-width:768px) and (max-width:1023px){

	.header_lane .header_wrap {
		background-color: #dcf3ff;
		height: 90px;
		position: relative;
	}
	header.header_lane h1 {
		width: 40%;
		min-width: 500px;
		height: 90px;
		padding: 53px 0 0 2%;
		font-size: 24px;
	}
	header.header_lane h1 img{
		display: inline-block;
		width: 60px;
		height: auto;
		vertical-align: middle;
	}
	header.header_lane h1 span{
		display: inline-block;
		margin: 0 0.5% 0 0;
	}
	header.header_lane h1 span:nth-of-type(1){
		margin-left: 5%;
	}
	header.header_lane .port_name{
		width: 40%;
		min-width: 500px;
		height: 50px;
		border-radius: 0 0 10px 0;
		font-size:32px; 
		padding: 5px 0 0 2%;
		position: absolute;
		top:0;left:0;
	}

	header.header_lane .update_time{
		display: inline-block;
		width: 250px;
		font-size: 12px;
		position: absolute;
		top:5px;right:150px;
	}
	header.header_lane .company_logo{
		background-image:url("../img/common/logo_company.svg");
		width: 120px;
		height: 20px;
		background-size: contain;
		position: absolute;
		bottom:7px;right: 10px;
	}
	header.header_lane .return{
		width: 70px;
		height: 50px;
		position: absolute;
		top:30px;right:170px;
	}
	header.header_lane .return button{
		display: inline-block;
		width: 70px;
		height: 50px;
		text-align: center;
		background-color: #23b1b2;
		border: none;
		border-radius: 5px;
	}
	header.header_lane .return button img{
		width: 40%;
		height: auto;
	}
	header.header_lane .update{
		width: 70px;
		height: 50px;
		position: absolute;
		top:30px;right:90px;
	}
	header.header_lane .update button{
		display: inline-block;
		width: 70px;
		height: 50px;
		text-align: center;
		background-color: #23b1b2;
		border: none;
		border-radius: 5px;
		vertical-align: bottom;
	}
	header.header_lane .update button span.update_message{
		display: none;
	}
	header.header_lane .update button:hover{
		opacity: 0.8;
	}
	header.header_lane .update button:hover > span.update_message.sp{
		display: block;
		background-color: #ff0000;
		font-size: 10px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		padding: 0 5px;
		border-radius: 5px;
		margin: 5px auto 0;
	}
	header.header_lane .update button:hover > span.update_message.tab{
		display: none;
	}
	header.header_lane .update button img{
		width: 45%;
		height: auto;
	}
	header.header_lane .volume{
		width: 70px;
		height: 50px;
		position: absolute;
		top:30px;right:10px;
	}
	header.header_lane .volume button{
		display: inline-block;
		width: 70px;
		height: 50px;
		text-align: center;
		background-color: #23b1b2;
		border: none;
		border-radius: 5px;
	}
	header.header_lane .volume button span{
		display: block;
		font-size: 16px;
		line-height: 1.25em;
		letter-spacing: 3px;
	}
	header.header_lane .volume button:hover{
		opacity: 0.8;
	}

}

@media screen and (min-width:0px) and (max-width:767px){

	:root {
		--scrollbar-width: 0;
	}

	header {
		width: calc(100% - var(--scrollbar-width));
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	.header_lane .header_wrap{
		background-color: #dcf3ff;
		height: 65px;
		border-bottom: solid 5px #fff;
		position: relative;
	}
	header.header_lane h1{
		width: 60%;
		min-width: 210px;
		height: 60px;
		padding:32px 0 0 2%;
		font-size:18px;
	}
	header.header_lane h1 img{
		display: inline-block;
		width: 45px;
		height: auto;
		vertical-align: middle;
	}
	header.header_lane h1 span{
		display:none;
	}
	header.header_lane h1 span:nth-of-type(1){
		margin-left: 5%;
	}
	header.header_lane .port_name{
		width: 60%;
		min-width: 210px;
		height: 30px;
		border-radius: 0 0 10px 0;
		font-size:16px; 
		padding: 5px 0 0 2%;
		position: absolute;
		top:0;left:0;
	}

	header.header_lane .update_time{
		display: inline-block;
		font-size: 10px;
		letter-spacing: 0;
		width: 41.5%;
		position: absolute;
		top:2px;right:0.5%;
	}
	header.header_lane .return{
		width: 40px;
		height: 35px;
		position: absolute;
		top:20px;right:90px;
	}
	header.header_lane .return button{
		display: inline-block;
		width: 40px;
		height: 35px;
		text-align: center;
		background-color: #23b1b2;
		border: none;
		border-radius: 5px;
	}
	header.header_lane .return button img{
		width: 55%;
		height: auto;
	}
	header.header_lane .update{
		width: 40px;
		height: 35px;
		position: absolute;
		top:20px;right:47px;
	}
	header.header_lane .update button{
		display: inline-block;
		width: 40px;
		height: 35px;
		text-align: center;
		background-color: #23b1b2;
		border: none;
		border-radius: 5px;
		vertical-align: bottom;
	}
	header.header_lane .update button span.update_message{
		display: none;
	}
	header.header_lane .update button img{
		width: 55%;
		height: auto;
	}
	header.header_lane .update button:hover{
		opacity: 0.8;
	}
	header.header_lane .update button:hover > span.update_message.sp{
		display: block;
		background-color: #ff0000;
		font-size: 10px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		padding: 0 5px;
		border-radius: 5px;
		margin: 3px auto 0;
	}
	header.header_lane .update button:hover > span.update_message.tab{
		display: none;
	}
	header.header_lane .volume{
		width: 40px;
		height: 35px;
		position: absolute;
		top:20px;right:1%;
	}
	header.header_lane .volume button{
		display: inline-block;
		width: 40px;
		height: 35px;
		padding: 2px 0 0;
		letter-spacing: 1px;
		text-align: center;
		background-color: #23b1b2;
		border: none;
		border-radius: 5px;
	}
	header.header_lane .volume button span{
		display: block;
		font-size: 12px;
		line-height: 1em;
		letter-spacing: 1px;
	}
	header.header_lane .volume button:hover{
		opacity: 0.8;
	}

	header.header_lane .company_logo {
		background-image: url("../../Content/img/common/logo_company.svg");
		width: 100px;
		height: 15px;
		background-size: contain;
		position: absolute;
		bottom: 5px;
		right: 5px;
		display: none;
	}
}
